html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  position: relative;
  left: -.5em;

  /* play w this */
  filter: blur(12px);
  opacity: 100;
  transform: rotate(-30deg);

  /* play w to see why it happens this way */
  transform-origin: left center;
}

p {
  color: #c09;
  max-width: 19em;
  text-shadow: 2px 2px #990073;
}

.background {
  background-image: repeating-linear-gradient(-33deg, #c9fcff 0%, #c9fcff 1%, #d4fdff 1.1%, #d4fdff 2%, #c9fcff 2.1%);
  border-top: #b3fbff 5px solid;
  border-bottom: #b3fbff 5px solid;
}

.btn {
  color: #c09;
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  background-color: #990073;
}

.ice-cream {
  min-height: 480px;
}

.ingredient {
  /* sizing and positioning */
  width: 150px;
  height: 150px;
  bottom: 100%;
  left: 50%;

  transform: translateX(-50%);
}

.ingredient2 {
  /* sizing and positioning */
  width: 115px;
  height: 115px;
  bottom: 100%;
  left: 50%;

  transform: translateX(-50%);
}

.ingredient3 {
  /* sizing and positioning */
  width: 70px;
  height: 70px;
  bottom: 100%;
  left: 50%;

  transform: translateX(-50%);
}

.cone {
  /* Values subject to change */
  animation: conefall .3s ease-in forwards;
  z-index: 5;
}

.mint {
  animation: mintfall .3s .3s ease-in forwards;
  z-index: 2;
}

.chocolate {
  animation: chocfall .3s .6s ease-in forwards;
  z-index: 3;
}

.vanilla {
  animation: vanfall .3s .9s ease-in forwards;
  z-index: 4;
}

.cherry {
  animation: cherryfall .3s 1.2s ease-in forwards;
  z-index: 6;
}

@keyframes conefall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 0;
  }

}

@keyframes mintfall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 109px;
  }

}

@keyframes chocfall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 199px;
  }

}

@keyframes vanfall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 265px;
  }

}

@keyframes cherryfall {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: 360px;
  }

}
